.indication {
    display: flex;
    align-items: center;
    width: 100%;

    border-radius: 9px;
    border: 1px solid #cacaca;
    background: #e3e3e3;
    padding: 14px;

    cursor: pointer;

    &:hover {
        border: 1px solid #797979;
        background: #dadada;
    }

    &__icon {
        & > span {
            font-size: 60px;
            user-select: none;
        }

        margin-right: 14px;
    }

    &__info {
        & > h1 {
            color: #000;
            font-family: Inter;
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        & > span {
            color: #969696;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}
