.free {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    border-radius: 9px;
    border: 1px solid #cacaca;
    background: #e3e3e3;
    padding: 10px 14px;

    & h1 {
        color: #000;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-bottom: 4px;
    }

    & p {
        color: #000;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    & a {
        color: #0A632D;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
    }
}